body{
    text-align: center;
}
.headpage{
    color: white;
    background-image: url(h_img.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    margin: 20px;
}
.header{
    padding: 220px;
    padding-top: 170px;
    padding-bottom: 60px;
}
.disc{
    font-size: 13px;
}
#logo{
    width: 100px;
    height: 100px;
}
#mousepointer{
    width: 20px;
    height: 50px;
    padding-bottom: 20px;
}
.welcome{
    font-size: 40px;
}

.sub-about{
    font-size: 13px;
}
.services{
    background-image: url(s_image.jpg);
    color: white;
    font-size: 13px;
    background-size: cover;
    background-repeat: no-repeat;
    height: 150px;
    margin: 20px;

}
.portfolio{
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
}
#work4{
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
    margin-left: 10px;
}

.whatwedo{
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
}
#design{
    margin-right: 280px;
    width: 70px;
    height: 70px;
    margin-left: 0px;
}
#development{
    margin-right: 0px;
    width: 70px;
    height: 70px;
    margin-left: 30px;
}
#product{
    width: 70px;
    height: 70px;
    margin-left: 300px;
}
#icondisc{
    text-align: left;
    font-size: 18px;
}
.producem{
    margin-left: 250px;
}
.contact{
    height: 400px;
    background-image: url(c_image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 50px;
    margin: 20px;
}
.feedback{

}
#name{
    width: 350px;
    height: 23px;
    margin-right: 40px;
    background: transparent;
    color: white;
    
}
#email{
    width: 295px;
    height: 23px;
    background: transparent;
   color: white;
}
#input{
    width: 680px;
    background: transparent;
    padding-bottom: 200px;
    padding-left: 4px;
}
::placeholder{
    color: white;
}
.footer{
    font-size: 10px;
}