body{
    text-align: center;
    font-family: sans-serif;
}
.headpage{
    color: white;
    background-image: url(h_img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 20px;
}
.header{
    padding: 220px;
    padding-top: 170px;
    padding-bottom: 60px;
    padding-left: 252px;
}
.disc{
    font-size: 12px;
}
#logo{
    width: 100px;
    height: 100px;
}
#mousepointer{
    width: 20px;
    height: 50px;
    padding-bottom: 20px;
}
.welcome{
    font-size: 40px;
}
.about{
    margin: 40px;
}
.sub-about{
    font-size: 15px;
}
.services{
    position: relative;    
    background-image: url(s_image.jpg);
    color: white;
    font-size: 15px;
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    margin: 40px;

}
.sub-services{
    position: absolute;
    top: 80px;
    left: 50px;

}
.whatwedo{
    width: fit-content;
    height: fit-content;
    margin: 40px;
}
#cells{
    width: 350px ;
    height: 60px;
    align-content: center;
}
#design{
    margin-right: 50px;
    width: 50px;
    height: 50px;
    margin-left: 100px;
}
#development{
    margin-right: 0px;
    width: 50px;
    height: 50px;
    margin-left: 130px;
}
#product{
    width: 50px;
    height: 50px;
    margin-left: 180px;
}

#icondisc{
    text-align: left;
    font-size: 12px;
    
}
.development{
    margin-left: 110px;
}
.designdisc{
    margin-left: 103px;
}
.product{
    margin-left: 140px;
}
#discription1{
    font-size: 13px;
    text-align: center;
    padding-right: 0px;
}
#discription2{
    font-size: 13px;
    text-align: center;
    padding-right: 0px;
}
#discription3{
    font-size: 13px;
    text-align: center;
    padding-left: 0px;
}
.portfolio{
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
}
.work{
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
    margin-left: 10px;
}
.image4{
    position: relative;

}
.project-name{
    position: absolute;
    top: 20px;
    left: 20px;
    border: 3px solid whitesmoke;
    padding-top: 10px;
    width: 185px;
    height: 170px;
    background: transparent;
    color: rgb(60, 123, 143);
    font-size: 40px;
    text-align: left ;
}

.contact{
    height: 400px;
    background-image: url(c_image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 50px;
    margin: 20px;
}
.feedback{

}
#name{
    margin-left: -20px;
    width: 350px;
    height: 23px;
    margin-right: 40px;
    background: transparent;
    color: white;
    
}
#email{
  
    width: 300px;
    height: 23px;
    background: transparent;
    color: white;
}
#input{
    width: 680px;
    background: transparent;
    padding-bottom: 200px;
    padding-left: 4px;
}
::placeholder{
    color: white;
}
.footer{
    font-size: 10px;
}